@import 'animations';
body{
    background-color: aliceblue;
}
.slideLeftRegister{
    animation: registerEnter 1s;
    animation-fill-mode: forwards;
}
.slideLeftLogin{
    animation: loginLeave 1s;
    animation-fill-mode: forwards;
}
.slideRightRegister{
    animation: registerLeave 1s;
    animation-fill-mode: forwards;

}
.slideRightLogin{
    animation: loginEnter 1s;
    animation-fill-mode: forwards;
}
.input-log{
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 300ms ease !important;
    margin-top: 35px;
    input{
        transition: all 300ms ease !important;
    }
    input:focus{
        outline: none;
        border-color: #6236ff;
        box-shadow: 0 1px 0 0 #6236ff;
    }
    input:focus + label, input:not(:placeholder-shown) + label{
        transition: all 300ms ease !important;
        transform: translateY(-27px);
    }
    label{
        position: absolute;
    }
}
button:hover{
    background: linear-gradient(90deg,#d50fff, #44199a);
}
.ripple{
    background: rgba(255, 255, 255, 0.3);
    transform: scale(0);
    animation: ripple 1s;
}

